body{
    display: grid;
    height: 1fr;
    grid-template-columns: 10% 90%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "nav titulo"
    "nav main"
    "nav footer";
    
    #titulo{
        grid-area: titulo;
        @include flex(row, space-between, center);
        h1{
            @include flex(row, right, center);
        }
        h2{
            align-items: start;
        }
    }
    nav{
        grid-area: nav;
        @include flex(column, start, center);
    }

    section{
        main{
            display: flex;
            flex-direction: row;
            grid-area: main;
            display: grid;
            grid-template-columns: 20%, 80%;
            grid-template-rows: repeat(2, auto);
            grid-template-areas: 
            "crear buscador"
            "biblioteca tarjetas"
            "biblioteca tarjetas"
            ;
            .buscar{
                grid-area: buscador;
                @include flex(column, center, center);
            }
            .tarjetas{
                grid-area: tarjetas;
            }
            .comidasDia{
                grid-area: biblioteca;
            }
            .añadirAlimento{
                grid-area: crear;
            }
        }
    }

    footer{
        grid-area: footer;
        @include flex(row, center, center);
    }

}