@mixin flex($flex-direction, $justify-content, $align-items){
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
    align-items: $align-items;
  }

$colores:
#202132,
#F4F1DE,
#8789C0;