.tarjeta{
        display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
        border: 1px solid black;
        border-radius: 5px;
        padding: 4px;
        background-color: #eaf4ffb6;
        height: 200px;
        width: 150px;
        list-style: none;
        h3{
            text-transform: uppercase;
            text-align: center;
        }
        li{
            text-transform: uppercase;
            margin-top: 10px;
            list-style: none;
        }
    }
