.tarjetas{
    .tarjeta{
        border-radius: 0px 0px 10px 10px;
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 10px;
        border: 2px solid black;
        h3{
            color: #fff;
            text-transform: uppercase;
            border-bottom: 2px solid #2B303A;
            margin: 10px;
        }
        ul{
            list-style: none;
            padding: 5px;
            border: 2px solid black;
            margin: 10px;
            li{
                color: #2B303A;
                margin-top: 5px;
                border-radius: 5px;
                background-color: #DFCED5;
                border: 1px solid black;
            }
        }
    }
}
