
.buscar{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    p{
        color: #fff;
        text-align: center;
        width: 250px;
    }
    input{
        width: 200px;
        height: 30px;
        border-radius: 0px 10px 10px 0px;
        margin: 20px 20px
    }
}
.btnStyle{
    height: 40px;
    width: 120px;
    border-radius: 5px;
    justify-content: space-between;
    color: #fff;
    font-weight: bold;
    background-image: linear-gradient(#08203e, #557c93);
}
.btnStyle:active{
    padding: 5px;
    background-image: linear-gradient(#145277, #83d0cb);
}
.comidasDia{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .tarjetaComidasDia{
        border-radius: 10px 10px;
        background-color: #fff;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 10px;
        border: 2px solid black;
        width: 250px;
        height: auto;
        h3{
            color: #000000;
            text-transform: uppercase;
            border-bottom: 2px solid #2B303A;
            margin: 10px;
        }
        ul{
            list-style: none;
            padding: 5px;
            margin: 10px;
            li{
                width: 80px;
                color: #2B303A;
                margin-top: 5px;
                border-radius: 5px;
                border-bottom: 1px solid black;
                flex-wrap: wrap;
                text-transform: uppercase;
            }   
            }
            p{
                font-size: 15px;
                text-align: right;
                float: right;
                position:static;
            }
        }
    }

    #tarjetasPrueba{
        
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
    }

        .tarjeta{
            display: flex;
            align-items: center;
            flex-direction: column;
            flex-wrap: wrap;
            border-radius: 0px 0px 10px 10px;
            margin: 10px;
            border: 1px solid white;
            h3{
                color: #fff;
                font-size: 15px;
                text-transform: uppercase;
                border-bottom: 2px solid #2B303A;
                margin: 10px;
            }
            ul{
                list-style: none;
                padding: 5px;
                margin: 10px;
                li{
                    color: #2B303A;
                    margin-top: 5px;
                    border-radius: 5px;
                    background-color: #DFCED5;
                    border: 1px solid black;
                }
            }
        }
    

