//Estilos generales del body 
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #001829;
    #titulo{
        
        h1{
            color: rgb(185, 160, 127);
            border-bottom: 1px solid rgba(255, 255, 255, 0.363);
            font-size: 18px;
        }
        h2{
            color: rgb(108, 108, 241);
            border-bottom: 1px solid rgba(255, 255, 255, 0.596);
        }
    }
    
    nav{
        
        ul{
            text-decoration: none;
            list-style: none;
            
            li{
                
                a{
                    text-decoration-line: none;
                }
            }
        }
     }

footer{
    color: #ffff;
    margin-top: 90%;
    ul{
        list-style: none;
        li{
            display: inline;
        }
    }
}

}     