body{
    display: grid;
    height: 1fr;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
    "titulo titulo"
    "nav main"
    "nav footer";

    #titulo{
        grid-area: titulo;
        @include flex(row, space-between, center);
        h1{
            @include flex(row, right, center);
        }
        h2{
            align-items: start;
        }
    }
    nav{
        grid-area: nav;
        @include flex(row, center, center);
        margin: 10px 10px 0px 20px;
    }

    section{
        main{
            grid-area: main;
            display: grid;
            grid-template-columns: 1, auto;
            grid-template-rows: repeat(2, auto);
            grid-template-areas: 
            "buscador"
            "tarjetas"
            ;
            .buscador{
                grid-area: buscador;
                @include flex(row, center, center);
                margin-top: 5px;
            }
            .tarjetas{
                grid-area: tarjetas;
                @include flex(row, center, center);
                justify-content: space-between;
                margin: 4px;
                padding: 2px;
                flex-wrap: wrap;
            }
        }
    }

    footer{
        grid-area: footer;
        @include flex(row, center, center);
        ul{
            list-style: none;
            li{
                display: inline;
            }
        }
    }

}