//Biblioteca HTML
//Grids
#tituloBiblio{
    grid-area: titulo;
    @include flex(row, space-between, center);
    h1{
        @include flex(row, right, center);
    }
    h2{
        align-items: start;
    }
}

//Estilos
#tituloBiblio{
    border-bottom: 2px solid #202132;
    margin-bottom: 3%;
    h1{
        color: #202132;
        font-size: 25px;
        background-color: #8789C0;
        border-radius: 10px;
        padding: 5px; 
    }
    h2{
        color: #202132;
        border-bottom: 1px solid rgba(255, 255, 255, 0.596);
        margin-right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 1s;
        &:hover{
            border: 2px solid #202132;
            transition: 3s;
            border-radius: 20px;
        }
        a{
            text-decoration-line: none;
            text-decoration: none;
            color: #202132;
        }
        img{
            height: 40px;
            background-color: #202132;
            border-radius: 50%;
        }
    }
}

#alimentosBiblioteca{
    grid-area: main;
    display: flex;
    .tarjetasBiblioteca{
        display: flex;
        flex-direction: row;
        ul{
            margin: 10px;
            padding: 5px;
            list-style: none;
            border: 2px solid #202132;
            border-radius: 18px;
            transition: 1s;
                &:hover{
                    transition: 1s;
                    border: 2px solid #8789C0;
                    border-radius: 10px 0px;
                }
            li{
                text-align: left;
            }
            button{
                transition: 0.5s;

            }
        }
    }
}

