//Unicamente clases sin etiquetas

//Titulos inicio
#titulo{
    border-bottom: 2px solid #202132;
    margin-bottom: 3%;
}
//Tarjeta Alimentos Seleccionados
.comidasDia{
    .tarjetaComidasDia{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: auto;
        height: auto;
        margin: 10px 5px 0px 0px;
        border-radius: 10px 10px;
        background-color: #F4F1DE;
        border: 2px solid #202132;
        }
    }

    //Tarjetas Alimentos
    .tarjetas{
        flex-wrap: wrap;
    #tarjetaAlimentos{
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #202132;
        border-radius: 30px 0px 0px 30px;
        border: 2px solid #F4F1DE;

        .tarjeta{
            height: 150px;
            width: auto;
            display: flex;
            justify-content: center;
            flex-direction: column;
            border: 1px solid #F4F1DE;
            border-radius: 10px;
            margin: 10px;
            //Estilos de botones en Tarjetas de Alimentos
                .btnTarjeta{
                    height: 25px;
                    width: auto;
                    font-size: 15px;
                    border-radius: 5px;
                    color: #F4F1DE;
                    font-weight: bold;
                    background-image: linear-gradient(#08203e, #557c93);
                    transition: 0.1s;
                }
                .btnTarjeta:active{
                    font-size: 13px;
                    background-image: linear-gradient(#145277, #83d0cb);
                    transition: 0.2s;
                }
        }
    
    }
}
.lsBiblioteca{
    flex-wrap: wrap;
    margin: 10px;
    #tarjetasBiblio{
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        background-color: #202132;
        border-radius: 20px 0px 0px 20px;
    .tarjetaB{
        display: flex;
        flex-direction: column;
        border: 1px solid #202132;
        border-radius: 10px;
        margin: 10px;
        width: 250px;
        border: 1px solid #F4F1DE;
        //Estilos de botones en Tarjetas de Alimentos
            .btnTarjeta{
                height: 25px;
                width: auto;
                font-size: 12px;
                border-radius: 5px;
                color: #F4F1DE;
                font-weight: bold;
                background-image: linear-gradient(#08203e, #557c93);
                transition: 0.1s;
            }
            .btnTarjeta:active{
                font-size: 11px;
                background-image: linear-gradient(#145277, #83d0cb);
                transition: 0.2s;
            }
    }
}
}
//Creación de alimentos por el usuario
.añadirAlimento{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    form{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
}

.resaltador{
    background: #FFCE47;
    border-radius: 50%;
}

//Biblioteca
#alimentosBiblioteca{
    text-align: center;
    flex-direction: row;
}