//Unicamente etiquetas acompñadas de sus clases

//Titulos inicio
#titulo{
    h1{
        color: #202132;
        font-size: 21px;
    }
    h2{
        color: #202132;
        border-bottom: 1px solid rgba(255, 255, 255, 0.596);
        border-radius: 20px;
        margin-right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 1s;
        &:hover{
            border: 2px solid #202132;
            transition: 0.5s;
            border-radius: 20px;
            padding: 5px;
        }
        a{
            text-decoration-line: none;
            text-decoration: none;
            color: #202132;
        }
        img{
            height: 40px;
            background-color: #202132;
            border-radius: 50%;
        }
    }
}

//NAV

nav{
    ul{
        text-decoration: none;
        list-style: none;
        margin-top: 30px;
        li{
            a{
                text-decoration-line: none;
                color: #F4F1DE;
                font-size: 18px;
                font-weight: 700;
                &:hover{
                    background-color: #f4f1dea1;
                    padding: 5px;
                    transition: 0.3s;
                    border-radius: 10px;
                }
            }
            a:active{
                border: 1px solid #202132;
            }
        }
    }
 }

//Input buscador de alimentos
.buscar{
    p{
        background-color: #8789c059;
        border-radius: 15px;
        padding: 5px;
        border: 1px solid #8789C0;
        label{
            color: #8789C0;
            font-weight: bold;
        }
        span{
            color: #8789C0;
            font-weight: bold;
        }
    }
    input{
        background-color: #F4F1DE;
        font-weight: 700;
        font-size: 18px;
        width: auto;
        height: 30px;
        border-radius: 0px 10px 10px 0px;
        margin: 10px 20px
    }
}

//Tarjeta Alimentos Seleccionados
.comidasDia{
    p{
        border: 2px solid #8789C0;
        width: auto;
        padding: 5px;
        margin-top: 10px;
        border-radius: 10px;
    }
    .tarjetaComidasDia{
        width: auto;
        h3{
            color: #202132;
            text-transform: uppercase;
            border-bottom: 2px solid #202132;
        }
        ul{
            list-style: none;
            padding: 5px;
            margin-top: 10px;
            li{
                width: auto;
                color: #202132;
                margin-top: 5px;
                border-radius: 5px 5px 5px 0px;
                border-bottom: 1px solid #202132;
                text-transform: uppercase;
            } 
            button{
                border-style: none;
                margin-top: 0px;
                border-radius: 0px 0px 3px 3px;
                background-color: #202132;
                color: #F4F1DE;
            }  
            }
            p{
                text-align: right;
                position:static;
                
            }
        }
    }

    //Tarjetas Alimentos
.tarjetas{
    #tarjetaAlimentos{
            h3{
                color: #F4F1DE;
                font-size: 18px;
                text-align: center;
                text-transform: uppercase;
                margin: 10px;
            }
            ul{
                list-style: none;
                padding: 5px;
                text-align: left;
                li{
                    color: #F4F1DE;
                    text-align: left;
                    font-size: 15px;
                    border-radius: 5px;
                    border-bottom: 1px solid 202132;
                }
            }
        }
    }
.lsBiblioteca{
    .tarjetaB{
        h3{
            color: #F4F1DE;
            font-size: 18px;
            text-align: center;
            text-transform: uppercase;
            margin: 10px;
        }
        ul{
            border: none;
            list-style: none;
            padding: 5px;
            text-align: left;
            li{
                color: #F4F1DE;
                text-align: left;
                font-size: 15px;
                border-radius: 5px;
            }
        }
    }
}



//Creación de alimentos por el usuario
.añadirAlimento{
        margin: 2px;
        form{
            border: 2px solid #202132;
            border-radius: 12px;
            width: 350px;
        }
        p{
            color: #202132;
            text-align: center;
            width: auto;
        }
        input{
            background: #8789c08c;
            color: #202132;
            width: 210px;
            height: 30px;
            border-radius: 0px 10px 10px 0px;
            margin: 10px 0px;
            font-size: 15px;
        }
        button{
            width: 250px;
            height: 30px;
            border-radius: 0px 0px 10px 10px ;
            color: #F4F1DE;
            font-size: 16px;
            font-weight: bold;
            background-image: linear-gradient(#08203e, #557c93);
            transition: 0.5s;
            margin: 10px 0px;
                &:active{
                    background-image: linear-gradient(#08203ebb, #557c93a2);
                    padding: 10px;
                }
        }

    }


footer{
    ul{
        list-style: none;
        li{
            display: inline;
            a{
            text-decoration: none;
            color: #F4F1DE;
            }
        }
    }
}